<p style="color: green"><%= notice %></p>

<% content_for :title, "Vulnerabilities" %>

<h1>Vulnerabilities</h1>

<div id="vulnerabilities">
  <% @vulnerabilities.each do |vulnerability| %>
    <%= render vulnerability %>
    <p>
      <%= link_to "Show this vulnerability", vulnerability %>
    </p>
  <% end %>
</div>

<%= link_to "New vulnerability", new_vulnerability_path %>
