<% content_for :title, "Resolved Vulnerabilities" %>

<h1>Resolved Vulnerabilities</h1>

<% if @resolved_vulnerabilities.any? %>
  <div id="resolved_vulnerabilities">
    <% @resolved_vulnerabilities.each do |vulnerability| %>
      <p>
        <%= link_to vulnerability.name, vulnerability %>
      </p>
    <% end %>
  </div>
<% else %>
  <p>No resolved vulnerabilities found.</p>
<% end %>

<%= link_to "Back to vulnerabilities", vulnerabilities_path %>